<%= form_with(model: service, name: 'form' ) do |form| %>
  <% if service.errors.any? %>
    <div id="er" class="alert alert-danger" role="alert">
      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="tbl">
    <div class="icon_field">
    <tr>
        <td><%= form.label :icon %></td>
        <td>
          <select id="icons">
            <% target_folder_path = File.join(Rails.root, "/app/assets/images/Icons") %>
            <% Dir.children(target_folder_path).each do |icon| %>
              <option value="Icons/<%= icon %>" data-imagesrc="/assets/Icons/<%= icon %>"><%= icon %></option>
            <% end %>
          </select>
          <input type="hidden" id="service_icon_url" name="service[icon_url]" />
        </td>
      </tr>
    </div>
    <div class="name_field">
<tr>
    <td><%= form.label :name %></td>
  <td><%= form.text_field :name, placeholder: 'service name'%></td>
</tr>
    </div>
    <div class="description-field">
    <tr>
    <td><%= form.label :description %></td>
    <td><%= form.text_area :description, placeholder: 'description'%></td>
    </tr>
    </div>
    <div class="button">
    <tr>
      <td></td>

      <td><%= form.submit 'Create', class: "btn btn-outline-primary", id: 'but', disabled: true%><%= link_to 'All services', services_path, class: 'btn btn-outline-secondary', role: 'button'%>
     </td>
    </tr>
    </div>
    <%=  javascript_pack_tag 'dis_button', 'data-turbolinks-track': 'reload' %>
</table>

<% end %>


