<div style="float: right; margin-top: 20px; margin-right: 20px;"><%= link_to t('.add_service'), new_service_path, class: 'btn btn-primary', role: 'button' %></div>
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
  url(<%= asset_path 'main_8.jpg' %>) no-repeat center 70%;
  background-size: cover; height: 250px;
">
  <div class="mask mask-custom">
    <h1 class="display-4 fst-italic"><%= t("services.index.services_title") %></h1>
    <p class="lead my-3"><%= t('services.index.services_description') %></p>
  </div>
</div>
<section>
  <div class="top-container">
  <% @services.each do |service| %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card" style="width: 23rem;">
          <div class="card-body text-center">
            <h5 class="card-title"><%= image_tag(service.icon_url, class: "col-2")%>&nbsp;<%= service.name %></h5>
            <p class="card-text"><%= service.description %></p>
            <div class="buttons_alignment">
              <div>
             <%= link_to t('.show_rooms'), service, class: 'btn btn-primary text-white bottom-0 end-0', role: 'button' %>
            <%= link_to t('.edit'), edit_service_path(service), class: 'btn btn-primary text-white bottom-0 end-0', role: 'button' %>
            <% if service.destroyable? %>
              <%= link_to t('.destroy'),service, method: :delete,  data: { confirm: 'Room services will be also deleted, continue?'}, role: 'button', class: 'btn btn-danger text-white bottom-0 end-0'%>
              <% else %>
                <div title="<%= t('.disabled_button_title')%>">
          <%= button_to t('.destroy'),service, method: :delete,  data: { confirm: 'Room services will be also deleted, continue?'}, disabled: true, class: 'btn btn-danger text-white bottom-0 end-0' %>
                </div>
              <% end  %>
              </div>

          </div>
          </div>
    </div>
        </div>
          <div class="col-md-4"></div>
      </div>
    <% end %>
      </div>
</section>
<div class="pagination" >
  <%= will_paginate @services, previous_label:  t('users.index.pagination.previous'), next_label: t('users.index.pagination.next'), list_classes: %w(pagination justify-content-end), :inner_window => 1, :outer_window => 1 %>
</div>


