
    <div style="float: right; margin-top: 20px; margin-right: 20px;"><%= link_to t('global.forms.all_services'), services_path, class: 'btn btn-primary', role: 'button' %></div>
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
  url(<%= asset_path 'main_8.jpg' %>) no-repeat center 70%;
  background-size: cover; height: 250px;
">
  <div class="mask mask-custom">
    <h1 class="display-4 fst-italic"><%= t("services.show.show_service_title") %></h1>
    <p class="lead my-3"><%= t('services.show.description_show_service') %></p>
  </div>
</div>
<table class="tbl-2">
  <tr>
    <td><p class="h4"><%= t('services.show.icon_pic') %></p></td>
    <td><p class="h5"><%= image_tag(@service.icon_url)%></p></td>
  </tr>
  <tr>
    <td><p class="h4"><%= t('services.show.icon_url') %></p></td>
    <td><p class="h5"><%= @service.icon_url %></p></td>
  </tr>
<tr>
  <td><p class="h4"><%= t('services.show.name') %></p></td>
  <td><p class="h5"><%= @service.name %></p></td>
</tr>
<tr>
  <td><p class="h4"><%= t('services.show.service_description') %></p></td>
  <td><p class="h5"><%= @service.description %></p></td>
</tr>
</table>

<div class="row justify-content-center">
  <% if @service.rooms.empty? %>
    <h3 style="margin-top: 30px; color: red; text-align: center;"><%= t('services.show.there_are_no_rooms_using_this_service') %></h3>
    <% else %>
    <h3 style="margin-top: 30px; text-align: center;"><%= t('services.show.rooms_using_this_service') %></h3>
<div class="col-4">
  <table class="table table-hover" style="margin-top: 40px">
  <thead>
  <tr>
    <td class="h4">#</td>
    <td class="h4"><%= t('services.show.table.capacity') %></td>
    <td class="h4"><%= t('services.show.table.price') %></td>
    <td class="h4"><%= t('services.show.table.number') %></td>
  </tr>
  </thead>
<tbody>
  <% @service.rooms.uniq.each do |room| %>
      <tr>
        <th scope="row"><%= room.id %></th>
        <td class="h5"><%= room.capacity %></td>
        <td class="h5"><%= room.price %></td>
        <td class="h5"><%= room.number %></td>
      </tr>
    <% end  %>
</tbody>
</table>
</div>
    <% end %>
</div>


