<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
  url(<%= asset_path 'main_8.jpg' %>) no-repeat center 70%;
  background-size: cover; height: 250px;
">
  <div class="mask mask-custom">
    <h1 class="display-4 fst-italic"><%= t('issues._form.new_issue') %></h1>
    <p class="lead my-3"><%= t('issues.index.page_description') %></p>

  </div>
</div>
<div class="row justify-content-center">
  <div class="col-7">
    <div class="row justify-content-center">
      <div class="col-6 row justify-content-center">

        <%= form_with(model: issue) do |form| %>
          <% if issue.errors.any? %>
            <div id="error_explanation", class="alert alert-danger" role="alert">
              <ul>
                <% issue.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <br>

          <div class="btn-group">
            <%#= form.select :category_name, options_for_select(Category.all.names)%>
            <%= form.collection_select :category_id, Category.all, :id, :translated_name, :class => "select_name" %>
          </div>

          <div class="field">
            <%= form.text_area :category_description, :id => "description-field", :class => "alert alert-light",
                               :disabled => true %>
          </div>

          <div class="field">
            <%= form.hidden_field :user_id, :value => current_user.id %>
          </div>

          <div class="field">
            <%= form.text_area :text, :class => "issue-text" %>
          </div>

          <div class="field">
            <%= form.hidden_field :status %>
          </div>

          <div class="buttons_new_issue">
            <%= form.submit t('issues._form.send'), class: "btn btn-success text-white bottom-0 end-0" %>
            <%= link_to t('issues._form.all_issues'), issues_path, class: "btn btn-primary text-white bottom-0 end-0" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        category_names = [
            <% Category.all.each do |category| %>
            '<%= t("activerecord.attributes.category.descriptions.#{category.name}_description",
             :category_description => category.description) %>',
            <% end %>
        ]
        description_field = $('#description-field')
        name_field = $('#issue_category_id')
        name_field.on('change', function () {
            category_selected = parseInt(name_field[0].value)
            description_field[0].value = category_names[category_selected-1]

        })
        name_field.val('1')
        name_field.trigger('change')
    });

</script>
