<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
  url(<%= asset_path 'main-page-image.jpg' %>) no-repeat center 70%;
  background-size: cover; height: 250px;
">
  <div class="mask mask-custom">
    <h1 class="display-4 fst-italic"><%= t("global.menu.issues") %></h1>
    <p class="lead my-3"><%= t('issues.index.page_description') %></p>

  </div>
</div>
<div class="row justify-content-center">
  <div class="col-7">
    <table class="table table-striped">
      <% if Issue.find_by_user_id(current_user.id).nil? %>
        <h1 class="display-4 fst-italic"> <%= t('.no_issues') %> </h1>
      <% else %>
        <thead>
        <tr>
          <th scope="col"><%= t('global.menu.categories') %></th>
          <th scope="col"><%= t('.text') %></th>
          <th scope="col"><%= t('.status') %></th>
          <th scope="col"><%= t('.created_at') %></th>
          <th scope="col"><%= t('.last_update') %></th>
          <th colspan="6"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <% @issues.each do |issue| %>
            <% if issue.user == current_user %>
              <td><%= t("activerecord.attributes.category.names.#{Category.find(issue.category_id).name}") %></td>
              <td><%= issue.text %></td>
              <td>
                <% case issue.status
                   when 'opened' %>
                  <%= fa_icon "battery-empty", :title => 'just opened'%>
                <% when 'in_progress' %>
                  <%= fa_icon "battery-half", :title => 'in progress' %>
                <% when 'done' %>
                  <%= fa_icon "battery-full", :title => 'closed'%>
                <% end %>
              <td><%= issue.created_at.strftime t("time.datetime.formats.my_format") %></td>
              <td><%= issue.updated_at.strftime t("time.datetime.formats.my_format") %></td>
              <td>
                <% unless issue.status == 'done' %>
                  <%= link_to issues_mark_closed_path(:id => issue.id),
                              data: { confirm: 'Issue will be marked as closed. Continue?' },
                              :title => 'mark closed' do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <% if can? :create, Issue %>
    <div class="button_new_issue">
      <%= link_to t('.new_issue'), new_issue_path, class: "btn btn-primary text-white bottom-0 end-0 col-2" %>
    </div>
    <% end %>

  </div>
  <div class="pagination-issues" >
    <%= will_paginate @issues, :inner_window => 1, :outer_window => 1, previous_label: t('rooms.index.previous-button'), next_label: t('rooms.index.next-button') %>
  </div>

</div>
