<h1 class="display-4 fst-italic"><%= t("global.menu.issues") %></h1>
<div class="row justify-content-center">
  <div class="col-7">
    <table class="table table-striped">
      <% if Issue.find_by_user_id(current_user.id).nil? %>
        <h1 class="display-4 fst-italic"> <%= t('.no_issues') %> </h1>
      <% else %>
        <thead>
        <tr>
          <th scope="col"><%= t('global.menu.categories') %></th>
          <th scope="col"><%= t('.text') %></th>
          <th scope="col"><%= t('.status') %></th>
          <th scope="col"><%= t('.created_at') %></th>
          <th scope="col"><%= t('.last_update') %></th>
          <th colspan="6"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <% @issues.each do |issue| %>
            <% if issue.user == current_user %>
              <td><%= Category.find(issue.category_id).name %></td>
              <td><%= issue.text %></td>
              <td><%= issue.status %></td>
              <td><%= issue.created_at.strftime t("time.datetime.formats.my_format") %></td>
              <td><%= issue.updated_at.strftime t("time.datetime.formats.my_format") %></td>
              <td>
                <% unless issue.status == 'done' %>
                  <%= link_to issues_mark_closed_path(:id => issue.id),
                              data: { confirm: 'Issue will be marked as closed. Continue?' },
                              :title => 'mark closed' do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="button_new_issue">
      <%= link_to t('.new_issue'), new_issue_path, class: "btn btn-primary text-white bottom-0 end-0 col-2" %>
    </div>

  </div>
</div>
