<h1>Issues</h1>
<div class="row justify-content-center">
  <div class="col-7">
    <table class="table table-striped">
      <% if Issue.find_by_user_id(current_user.id).nil? %>
        <h1 class="display-4 fst-italic">You haven't created any issues yet :(</h1>
      <% else %>
        <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Text</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
          <th scope="col">Last Update</th>
          <th colspan="5"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <% @issues.each do |issue| %>
            <% if issue.user == current_user %>
              <td><%= Category.find(issue.category_id).name %></td>
              <td><%= issue.text %></td>
              <td><%= issue.status %></td>
              <td><%= issue.created_at.strftime t("time.datetime.formats.my_format") %></td>
              <td><%= issue.updated_at.strftime t("time.datetime.formats.my_format") %></td>
            <% end %>
            <!--        <td><%#= link_to 'Show', issue %></td>-->
            <!--        <td><%#= link_to 'Edit', edit_issue_path(issue) %></td>-->
            <!--        <td><%#= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'New Issue', new_issue_path, class: "btn btn-primary text-white bottom-0 end-0 align-right" %>
  </div>
</div>
