<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="tbl">
  <tr>
    <div class="field">
      <td><%= form.label :cover %></td>
      <td><%= form.file_field :cover, accept: 'image/png,image/jpg,image/jpeg' %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td><%= form.label :images %></td>
      <td><%= form.file_field :images, accept: 'image/png,image/jpg,image/jpeg', multiple: true%></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td><label for="services">Services</label></td>
      <td><input type="text" id="services" name="services"></td>
    </div>
    <dialog id="dialog_window">
      <img src="/assets/exit_button.png" id="close">
      <div class="checkboxes">
        <% Service.all.each do |service| %>
          <label for=<%= service.name %>><img src="/assets/<%= service.icon_url %>"><%= service.name %></label>
          <input type="checkbox" id="<%= service.name %>" name="<%= service.name %>" class="boxes">
        <% end %>
      </div>
    </dialog>
  </tr>

  <tr>
  <div class="field">
    <td><%= form.label :number %></td>
    <td><%= form.text_field :number %></td>
  </div>
  </tr>
  <tr>
 <div class="field">
   <td><%= form.label :title %></td>
   <td><%= form.text_field :title %></td>
 </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= form.label :capacity %></td>
    <td><%= form.text_field :capacity %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= form.label :price %></td>
    <td><%= form.text_field :price %></td>
  </div>
  </tr>
  <tr>
  <div class="actions">
    <td></td>
    <td><%= form.submit 'Create', class: 'btn btn-success text-white bottom-0 end-0'%><%= link_to 'All rooms' , rooms_path, class: 'btn btn-primary text-white bottom-0 end-0', role: 'button'%></td>
  </div>
  </tr>
</table>
<% end %>
