<div class="rooms-top-container">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
  background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
    url(<%= asset_path 'main-page-image.jpg' %>) no-repeat center 70%;
    background-size: cover; height: 250px;
  ">
    <div class="mask mask-custom" style="">
      <h1 class="display-4 fst-italic">Rooms</h1>
      <div><%= link_to 'Add room', new_room_path, class: "btn btn-primary text-white bottom-0 end-0", role: 'button' %></div>
      <p class="lead my-3">The hotel complex offers its guests comfortable rooms, as well as the full range of services needed both on a business trip and during a tourist visit.</p>
    </div>
  </div>
</div>

<div class="search-container">
  <div class="check-container">
    <p class="search-container-title">CHECK IN / CHECK OUT</p>
    <div class="check-input">
      <div class="check-input-subtitle">
        <span class="subtitle">SELECT DATES</span>
      </div>
      <button class="calendar-button">
        <i class="arrow down"></i>
      </button>
    </div>
  </div>
  <div class="capacity-container">
      <p class="search-container-title">CAPACITY</p>
    <div class="capacity-info-buttons">
      <button class="capacity-button minus" id="minus">-</button>
      <span class="capacity-subtitle" id="capacity"></span>
      <button class="capacity-button plus" id="plus">+</button>
    </div>
  </div>
  <div class="search-button-container">
    <button class="search-button">SEARCH ROOMS</button>
  </div>
</div>

<div class="container">
  <% @rooms.each do |room| %>

    <div class="card mb-8">
      <%= image_tag room.cover, class: "card-img-top"  %>
      <div class="card-body ">
        <h5 class="card-title"><%= room.title %></h5>
        <p class="card-text">This is a room for <%= room.capacity %> people.</p>
        <div class="card_footer">
          <span class="d-block">
            <span class="display-4 text-primary">$<%= room.price %></span> / per night
          </span>
          <div class="card-footer-button col-md-3">
            <%= link_to 'Show more', room, :class => "btn btn-primary text-white bottom-0 end-0" %>
            <%= link_to 'Edit', edit_room_path(room), :class => "btn btn-primary text-white bottom-0 end-0" %>
            <% if room.destroyable? %>
              <%= link_to 'Destroy',room, method: :delete,  data: { confirm: 'Room services will be also deleted, continue?'}, role: 'button', class: 'btn btn-danger text-white bottom-0 end-0'%>
            <% else %>
              <div title="You cannot delete room with processing orders">
                <%= button_to 'Destroy',room, method: :delete,  data: { confirm: 'Room services will be also deleted, continue?'}, disabled: true, class: 'btn btn-danger text-white bottom-0 end-0' %>
              </div>
            <% end  %>
          </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'search' %>
