<div class="room-top-container">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
  background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
    url(<%=asset_path(@image.path)%>) no-repeat center 70%;
    background-size: cover; height: 250px;
  ">
    <div class="mask mask-custom" style="">
      <h1 class="display-4 fst-italic">Rooms</h1>
      <p class="lead my-3">The hotel complex offers its guests comfortable rooms, as well as the full range of services needed both on a business trip and during a tourist visit.</p>
    </div>
  </div>
</div>

<div class="container">
  <% @rooms.each do |room| %>

    <div class="card mb-8">
      <% room.room_images.each do |room_images| %>
        <% if room_images.purpose == 'cover' %>
          <img class="card-img-top" alt="Card image cover" src=<%=asset_path(room_images.image.path)%> />
        <% end %>
      <% end %>
      <div class="card-body ">
        <h5 class="card-title"><%= room.title %></h5>
        <p class="card-text">This is a room for <%= room.capacity %> people.</p>
        <div class="card_footer">
          <span class="d-block">
            <span class="display-4 text-primary">$<%= room.price %></span>
            / per night
          </span>
          <div class="card-footer-button col-md-8">
            <%= link_to 'Show more', room, :class => "btn btn-primary text-white bottom-0 end-0" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>