<div class="rooms-top-container">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
  background: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)),
    url(<%= asset_path 'main-page-image.jpg' %>) no-repeat center 70%;">
    <div class="mask mask-custom">
      <h1 class="display-4 fst-italic"><%= t('rooms.index.page-title') %></h1>
      <p class="lead my-3"><%= t('rooms.index.page-description') %></p>
    </div>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <div class= "advance-search-container">
    <div class="search-input">
      <p><%= t('rooms.index.search.check-in-out') %></p>
      <input id="input-datepicker" class="search-form-input">
    </div>

    <%= f.date_field :orders_check_out_gt, class: 'search-form-input date-input', id: 'check-out-input' %>
    <%= f.date_field :orders_check_in_lt, class: 'search-form-input date-input', id: 'check-in-input' %>

    <div class="search-input">
      <p><%= f.label :capacity, t('rooms.index.search.capacity') %></p>
      <%= f.select :capacity_eq,
                   options_for_select(Room.all.order(:capacity => :asc).map {|p| [ p.capacity ]}.uniq,
                                      selected: params.fetch(:q, nil)&.fetch(:capacity_eq, nil)), {:include_blank => t('rooms.index.search.choose')},
                   { :class => 'search-form-capacity' } %>
    </div>

    <div class="search-input">
      <p><%= f.label :price, t('rooms.index.search.price-from') %></p>
      <%= f.number_field :price_gteq, min: Room.minimum(:price), max: Room.maximum(:price), class: 'search-form-input' %>
    </div>

    <div class="search-input">
      <p><%= f.label :price, t('rooms.index.search.price-to') %></p>
      <%= f.number_field :price_lteq, min: Room.minimum(:price), max: Room.maximum(:price), class: 'search-form-input' %>
    </div>

    <div class="advance-search-button">
      <%= f.submit t('rooms.index.search.submit'), class: 'btn btn-primary', id: 'search-button' %>
    </div>
  </div>

    <div class="sort-container">
      <% unless @rooms.size < 2 %>
        <%= f.select :sorts,
                 options_for_select(
                   [[t('rooms.index.search.low-high'), 'price asc'],
                    [t('rooms.index.search.high-low'), 'price desc']],
                   selected: params.fetch(:q, nil)&.fetch(:sorts, nil)),
                 {:include_blank => t('rooms.index.search.sort-by')},
                 { :class => 'sort-input', :id => 'sort-input' } %>
      <% end %>
      <div class="clear-filters-button">
        <%= link_to t('rooms.index.search.clear-filters'), rooms_path %>
      </div>
    </div>

  <div class="container">
    <% if @rooms.empty? %>
      <p class="lead my-3 text-center"><%= t('rooms.index.no-rooms') %></p>
    <% else %>
      <% @rooms.each do |room| %>
        <div class="card mb-8">
          <% room.room_images.each do |room_images| %>
            <% if room_images.purpose == 'cover' %>
              <img class="card-img-top" alt="Card image cover" src=<%=asset_path(room_images.image.path)%> />
            <% end %>
          <% end %>
          <div class="card-body ">
            <h5 class="card-title"><%= room.title %></h5>
            <p class="card-text"><%= t('rooms.index.label-before-capacity')%> <%= room.capacity %> <%= t('rooms.index.label-after-capacity')%></p>
            <div class="card_footer">
              <span class="d-block">
                <span class="display-4 text-primary">$<%= room.price %></span> / <%= t('rooms.index.per-page')%>
              </span>
              <div class="card-footer-button col-md-3">
                <%= link_to t('rooms.index.show-more'), room_path(room, :check_in => params.fetch(:q, nil)&.fetch(:orders_check_in_lt, nil), :check_out => params.fetch(:q, nil)&.fetch(:orders_check_out_gt, nil)), :class => "btn btn-primary text-white bottom-0 end-0" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<div class="pagination" >
  <%= will_paginate @rooms, previous_label: t('rooms.index.previous-button'), next_label: t('rooms.index.next-button'), list_classes: %w(pagination justify-content-end), :inner_window => 1, :outer_window => 1 %>
</div>

<script>
  $('#input-datepicker').daterangepicker({
      opens: 'left',
      startDate: '<%= check_in_date %>',
      endDate: '<%= check_out_date %>',
  }, function(start, end, label) {
      $('#check-out-input').val(start.format('YYYY-MM-DD'));
      $('#check-in-input').val(end.format('YYYY-MM-DD'));

      $('#input-datepicker').val(`${start.format('MM/DD/YYYY')} - ${end.format('MM/DD/YYYY')}`);
  });
</script>
